<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Movie Recommendations</h1>
    <form action="/recommendations" method="POST">
        <label for="movie_title">Enter a movie title:</label>
        <input type="text" id="movie_title" name="movie_title" autocomplete="off">
        <button type="submit">Get Recommendations</button>
    </form>
    <div id="autocomplete-results"></div>

   <script>
    $(document).ready(function() {
        $('#movie_title').on('input', function() {
            var partialTitle = $(this).val();
            $.ajax({
                url: '/autocomplete',
                method: 'GET',
                data: { partial_title: partialTitle },
                success: function(response) {
                    var suggestions = response.suggestions;
                    var resultsDiv = $('#autocomplete-results');
                    resultsDiv.empty();
                    if (suggestions.length > 0) {
                        var ul = $('<ul>');
                        for (var i = 0; i < Math.min(suggestions.length, 10); i++) {
                            var listItem = $('<li>').text(suggestions[i]);
                            listItem.on('click', function() {
                                $('#movie_title').val($(this).text());
                                resultsDiv.empty();
                            });
                            ul.append(listItem);
                        }
                        resultsDiv.append(ul);
                    } else {
                        resultsDiv.append('<p>No suggestions found</p>');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script>

</body>
</html>
